.status-icon,.device-details{
                display: inline;
                float: left;
            }
            .clear{
                clear: both;
            }
            .OK,.OFFLINE{
                background-image:url("../assets/images/success.jpg");
                width: 52px;
                height: 52px;
                display: block;
                float: left;
            }
            .OFFLINE{
                background-image:url("../assets/images/failure.jpg");
            }
            #map-page, #map-canvas { width: 100%; height: 100%; padding: 0; }